/* https://m.media-amazon.com/images/G/31/gno/sprites/nav-sprite-global-1x-reorg-privacy._CB546381437_.png */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
.header{
    height:60px;
    background-color: rgb(19,25,33);
    color: white;
}

/* layout */
.container{
    height:100%;
    width:98%;
    margin: auto;
}
.container-header{
    display: flex; 
    align-items: center;
}

/* logo */

.logo-container{
    height: 50px;
    width: 140px;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    /* overflow: hidden; */
}
.logo{
    height: 50px;
    width: 100%;
    background: url('https://m.media-amazon.com/images/G/31/gno/sprites/nav-sprite-global-1x-reorg-privacy._CB546381437_.png');
    background-repeat: no-repeat;
    background-position: -225px -215px;    
}
.dotin{
    position: relative;
    margin-top: -4px;
    margin-left: -25px;
}
.white-border{
    border: 1.5px solid transparent;
}
.white-border:hover{
    border: 1.5px solid #ffffff;
}
/*Delivery content*/
.delivery-container{
    height: 50px;  /*50 155*/
    width: 135px;
    display: flex;
    align-items: center;
}
.del-text{
    height: auto;
    width: 87px;
    color: #ccc;
    font-size: 0.75rem;
    padding: 0%;
    margin-top: -1.8rem;
    margin-bottom: -5px;
    margin-right: 8px;
    margin-left: 45px;
}
.location-icon{
    height: 22px;  
    width: 22px;
    background: url('https://m.media-amazon.com/images/G/31/gno/sprites/nav-sprite-global-1x-reorg-privacy._CB546381437_.png');
    background-repeat: no-repeat;
    background-position: -68px -340px;
    margin-top: -10px;
    margin-bottom: -20px;
    margin-left: -120px;
}
.add-text{
    height: 21px;
    width: 91px;
    padding: 0%;
    font-weight: bolder;
    margin-right: -30px;
    margin-bottom: -10px;
}
/*Search Bar*/
.search-container{
    height: 40px;
    width: 630px;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    overflow: hidden;
}
.search-container:has(.input-search:focus) {
  box-shadow: 0 0 0 2px orange;
}
.search-select-menu{
    width: 55px;
    height: 100%;
    outline: none;
    border: none;
    background-color: #eaeaea;
    color: #7b7b7b;
    justify-content: center;
    padding: 5px;
}
.search-select-menu:hover{
    color: black;
}
.search-select-menu:focus{
    box-shadow: 0 0 0 2px orange;
}
.input-search{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: large;
}
.search-icon{
    height: 100%;
    width: 45px;
    border: 1.5px solid rgb(242, 175, 116);
    background: url('https://m.media-amazon.com/images/G/31/gno/sprites/nav-sprite-global-1x-reorg-privacy._CB546381437_.png');
    background-repeat: no-repeat;
    background-color: rgb(242, 175, 116);
    background-position: -2px -282px;
}
.search-icon:hover{
    background-color: rgb(236, 156, 86);
}
.search-icon:focus{
    border: 2px solid orange;
}

/* Nationality */

.nationality-container{
    height: 50px;
    width: 50px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0%;
    padding-left: 5px;
    gap: 5px;
}

.nationality-flag{
    height: 18px;
    width: 24px; 
    padding: 0%;
}
.nationality-flag img{
    width: 100%;
}
.nationality-container p{
    height: 16px;
    width: 22px;
    font-weight: bolder;
    font-size: .9rem;
    display: flex;
    align-items: center;
}

/*Accounts*/
.account-container{
    height: 50px;
    width: 125px;
    margin-left: 20px;
    padding-left: 8px;
    padding-top: 10px;
    padding-right: 0px;
}

/*Return & Order*/
.orders-container{
    height: 50px;
    width: 76px;
    margin-left: 15px;
    padding: 5px;
}
/*Cart*/
.cart-container{
    height: 50px;
    width: 85px;
    margin-left: 15px;
    padding-top: 12px;
    position: relative;
}
.cart-logo{
    height: 30px;
    width: 43px;
    background: url('https://m.media-amazon.com/images/G/31/gno/sprites/nav-sprite-global-1x-reorg-privacy._CB546381437_.png');
    background-repeat: no-repeat;
    background-position: -218px -337px;
    margin-bottom: -20px;
    margin-left: 5px;
}
.cart-text{
    font-size: 0.9rem;
    font-weight: bolder;
    margin-left: 45px;
    margin-bottom: 80px;
}
.cart-num{
    height: 18px;
    width: 20px;
    font-size: 1.2rem;
    color: orange;
    font-weight: bolder;
    top: 2px;
    left: 22px;
    position: absolute;
}

/* navigation */

.nav{
    height: 38px;
    background-color: rgb(35,47,61);
    display: flex;
    align-items: center;
}
.nav-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 98%; */
    height: 100%;
    margin: auto;    
}
.nav-content ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5px;
    list-style: none;
    font-size: 1rem;
}
.nav-content ul li a{
    color: white;
    font-size: 1rem;
    text-decoration: none;
    padding: 10px 10px;
}
.cont-text{
    height: 36px;
    display: flex;
    align-items: center;
}

.fresh-hover-img{
    background-color: white;
    height: 450px;
    width: 388px;
    position: absolute;
    z-index: 1;
    margin-left: -7px;

    opacity: 0;    
    visibility: hidden;
    pointer-events: none;

    transition: opacity 0.4s ease;
    transition-delay: 0.2s;

    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.side-by-side-img{
    display: flex;
    gap: 5px;
}
.downside-img{
    margin-top: 5px;
}
.fresh-img-list{
    width: 170px;
    height: 175px;
    background-color: #edeaeaf3;
    padding: 10px;
}
.fresh-img-list img{
    width: 100%;
    height: 100%;
}

.fresh-img:hover .fresh-hover-img{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    transition-delay: 0.2s;
}

.fresh-img:has(.fresh-hover-img:hover) {
    border: none;
}
.link{
    margin-top: 20px;
}
.fresh-hover-img .link a{
    width: 100%;
    height: 30px;
    color: blue;
    
}
.fresh-hover-img .link a:hover{
    color: rgb(15, 15, 76);
    text-decoration: underline;
}

.business-flyout{
    height: 300px;
    width: 522px;
    position: absolute;
    background-color: white;
    z-index: 1;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 0.4s ease;
    transition-delay: 0.2s;

    padding: 5px 10px;
}
.business-flyout img{
    height: 100%;
    width: 100%;
}
.business-flyout-cont:hover .business-flyout{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    transition-delay: 0.2s;
}
.business-flyout-cont:has(.business-flyout:hover){
    border: none;
}

.hamburger{
    height: 37px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: bolder;
    font-size: 1rem;
}
.hamburger-logo{
    width: 19px;
	height: 16px;
    background: url('https://m.media-amazon.com/images/G/31/gno/sprites/nav-sprite-global-1x-reorg-privacy._CB546381437_.png');
    background-repeat: no-repeat;
    background-position: -172px -255px;
}
.rufus{
    width: 68px;
    height: 23px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border-radius: 20px;
    background-color: #ffffff;
    border: none;
}
.rufus:focus{
    box-shadow: 0 0 0 2px orange;
}




/* image slider */

.slider-container{
    position: relative;
}
.image-list{
    display: flex;
    overflow: hidden;
}
.image-item{
    min-width: 100%;
    height: 583px; 
}
.image-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* slider buttons */

.side-arrow-btns-container{
    position: absolute;
    top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}
.left-arrow{
    width: 20px;
	height: 160px;
    background: url('https://m.media-amazon.com/images/S/sash/ydDD9hnRfziI$y7.png');
    background-repeat: no-repeat;
    background-position: -7px -16px;
    background-size: 135px;
    border: none;
}
.right-arrow{
    width: 20px;
	height: 160px;
    background: url('https://m.media-amazon.com/images/S/sash/ydDD9hnRfziI$y7.png');
    background-repeat: no-repeat;
    background-position: -88px -16px;
    background-size: 110px;
    border: none;
}

/*small product cards */


.main{
    position: relative;
    top: -320px;
}

.product-card-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
    margin-left: 10px;
    width: 98%;
}

.product-card{
    height: 420px;
    width: 310px;
    background-color: white;
    /* padding: 20px 20px; */
    padding-top: 5px;
    justify-content: center;
    align-items: center;
    box-shadow: -10px -0px 40px rgba(110, 110, 110, 0.1),
                10px 50px 40px rgba(110, 110, 110, 0.1);

}
.product-card h2{
    margin-bottom: 10px;    
    width: 289px;
    padding-left: 17px;
    /* display: flex; */
    /* justify-content: center; */
}
.product-card-nested-card{
    display: flex;
    background-color: white;
    height: 320px;
    max-width: 600px;
    flex-wrap: wrap;
    justify-content: center;
    /* align-content: flex-start; */
    column-gap: 5px;
    /* row-gap: 20px; */
    margin: 0px;
}
.nested-card{
    height: 118px;
    width: 138px;
    background-color: #edeaeaf3;
    /* margin: 5px; */
}
.nested-card img{
    height: 100%;
    width: 100%;
    padding: 7px 15px;
    /* object-fit: cover; */
}
.nested-card figcaption{
    font-size: 0.9rem;
}
.product-card-link{
    margin-top: 0px;
    padding-left: 17px;
}
.product-card-link a{
    color: rgb(56, 56, 250);
    text-decoration: none;
}
.product-card-link a:hover{
    color: rgb(19, 19, 192);
    text-decoration: underline;
}


/* long product cards */

.long-product-card-container{
    height: 270px;
    width: 97%;
    background-color: white;
    padding-bottom: 25px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 25px;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: -10px -0px 40px rgba(110, 110, 110, 0.1),
                10px 0px 40px rgba(110, 110, 110, 0.1);
}
.long-product-card-heading{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}
.long-product-card-arrows{
    position: relative;
    top: -155px;
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    
}
.left-container{
    height: 100px;
    width: 45px;
    background-color: #fff;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 3px #888;
}
.right-container{
    height: 100px;
    width: 45px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 3px #888;
}
.long-product-card-left-arrow{
    width: 13px;
    height: 22px;
    background: url('https://m.media-amazon.com/images/S/sash/x6ok$LYiGGUKJXl.png');
    background-position: -14px 0;
}
.long-product-card-right-arrow{
    width: 13px;
    height: 22px;
    background: url('https://m.media-amazon.com/images/S/sash/x6ok$LYiGGUKJXl.png');
    background-position: 0px 0px;
}
.long-product-card-heading a{
    color: rgb(56, 56, 250);
    text-decoration: none;
}
.long-product-card-heading a:hover{
    color: rgb(19, 19, 192);
    text-decoration: underline;
}
.long-product-card-list{
    display: flex;
}
.long-product-card-item{
    height: 180px;
    width: 270px;
    overflow: hidden;
    margin: 10px;
}
.long-product-card-item img{
    vertical-align: top;
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}


/* footer */
.link-container{
    text-decoration: none;
}
.footer-section-1-container{
    height: 50px;
    background-color: rgb(52, 71, 91);
    font-size: 1.0rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link-container:hover .footer-section-1-container{
    background-color: rgba(52, 71, 91, 0.9);
}
.footer-content-container{
    background-color: #232F3E;
    color: #fff;
    height: 500px;
    width: 100%;        
}
.footer-content-container-section-1{
    height: 370px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-content-list{   
    width: 1000px;
    display: flex;
    justify-content: space-between;
}
.footer-content-list h3{
    margin-bottom: 20px;
}
.footer-content-list li a{
    text-decoration: none;
    color: #fff;    
}
.footer-content-list a:hover{
    text-decoration: underline;
}
.footer-content-list li{
    width: 180px;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}
.footer-content-list ul{
    list-style: none;
}
.footer-content-container-section-2{
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);;
}
.footer-content-logos{
    height: 34px;
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.section-2-image1{
    width: 80px;
    height: 30px;
    background: url('https://m.media-amazon.com/images/G/31/gno/sprites/nav-sprite-global-1x-reorg-privacy._CB546381437_.png');
    background-position: -10px -86px;
}
.selection-windows{
    height: 34px;
    width: 234.22px;
    display: flex;
    justify-content: space-between;
}
.lang-selection{
    height: 34px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid white;
    border-radius: 4px;
}
.globe-logo{
    height: 14px;
    width: 14px;
    background: url('https://m.media-amazon.com/images/S/sash/MAbi1rCjQI9H2y0.png');
    background-position: -77px -24px;
}
.lang{
    color: #fff;
    appearance: none;
    border: none;
    outline: none;
    background-color: transparent;
}
.arrow-logo{
    height: 16px;
    width: 12px;
    background: url('https://m.media-amazon.com/images/S/sash/MAbi1rCjQI9H2y0.png');
    background-position: -79px -79px;
}
.nation-selection{
    height: 34px;
    width: 38%;
    color: #ccc;
    border: 1px solid white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flag-logo{
    height: 12px;
    width: 18px;
    background: url('https://m.media-amazon.com/images/S/sash/MAbi1rCjQI9H2y0.png');
    background-position: -18px -36px;
}



/* last aside part of footer */
.last-container{
    height: 270px;
    width: 100%;
    background-color: rgb(17, 24, 30);
    font-size: 0.8rem;
}
.title{
    color: #fff;
}
.undertext{
    color: #acabab;
}
.last{
    height: 84px;
    width: 150px;
}
.info-list-container-1{
    margin-left: 175px;
    padding-top: 30px;
}
.info-list-container-1 ul{
    list-style: none;
    display: flex;
    gap: 50px;
}
.info-list-container-1 li a{
    text-decoration: none;
}
.info-list-container-2{
    margin-left: 175px;
    margin-top: -20px;
}
.info-list-container-2 ul{
    list-style: none;
    display: flex;
    gap: 50px;
}
.info-list-container-2 li a{
    text-decoration: none;
}

/* copyright section */

.copyright-container{
    height: 40px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}
.copyright-container-links{
    display: flex;
    justify-content: center;
}
.copyright-container-links li a{
    color: #fff;
    text-decoration: none;
}
.copyright-container-links li a:hover{
    text-decoration: underline;
}
.copyright-container-links ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.copyright-section{
    color: #fff;
    display: flex;
    justify-content: center;
}