*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
html,body{
    height: 100%;
    width: 100%;
}
header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.logo-container{
    height: 80px;
    width: 275px;
}
.logo-container img{
    height: 100%;
    width: 100%;
}
main{
    margin: 0px 10px;
}
.form{
    font-size: 1.2rem;
}
.requirements{
    background-color: lightblue;
    text-align: right;
}
