*{
    margin : 0%;
    padding : 0%;
}

html,body{
    height : 100%;
    width : 100%;
}
body{
    
    background-color: white;
    
    
}
main{
    display: flex;
}

div{   
    width: 200px;
    height: 200px;    
}
/*Before */

#box1{
    background-color: aqua;

}
#box2{
    background-color: violet;
}
#box3{
    background-color: brown;
}

/*This seperation of boxes will add extra access to the divs and compiler dint get confused*/
/*But if both the boxes have any same commonalities then they are accessible just by accessing div*/