*{
    margin : 0%;
    padding : 0%;
}

html,body{
    height : 100%;
    width : 100%;
}

h1{
    background-color: aquamarine;
    margin : 0%;
    padding: 0%;
    width : 50%;
    color: rgb(121, 80, 31);
}

body{
    background-color: white;
}

div{
    width : 20%;
    height : 20%;
}
/*Before */

#box1{
    background: aqua;    
}
#box2{
    background: violet;
}

/*This seperation of boxes will add extra access to the divs and compiler dint get confused*/
/*But if both the boxes have any same commonalities then they are accessible just by accessing div*/